* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Microsoft JhengHei", sans-serif;

  font-weight: bold;

  color: #333;

  background-color: #f3f5f8;

  line-height: 1.5;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background-color: #525c91;
  text-align: center;
  padding: 10px;
  /* margin-bottom: 15px; */
}

.section {
  border-bottom: 2px solid #525c91;
  padding-bottom: 5px;
  /* margin-bottom: 15px; */
}

.section-title {
  display: inline-block; /* 讓背景只包住文字寬度 */
  font-size: 18px;
  color: #fff;
  background-color: #525c91;
  padding: 3px 10px;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

label,
.form-row p {
  font-weight: bold;
  margin-right: 8px;
}

.btn {
  font-size: 14px;
  border: 1px solid #999;
  padding: 6px 16px;
  color: #fff;
  cursor: pointer;
}

.btn-submit {
  background-color: #2c3e50;
}

.btn-reset {
  background-color: #c0392b;
  margin-left: 8px;
}

textarea {
  width: 500px;
  height: 100px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="date"],
select,
textarea {
  padding: 8px 10px;
  border: 1px solid #999;
  font-size: 14px;
  box-sizing: border-box;
}

label span {
  color: red;
}

.btn-row {
  margin-top: 20px;
}

/* =========================
   版本切換按鈕
========================= */

.beauty-link {
  display: block;
  width: fit-content;

  margin: 10px 50px 10px auto;
  padding: 10px 20px;

  color: #525c91;

  border: 1px solid #525c91;
  border-radius: 5px;

  font-size: 14px;
}

.beauty-link:hover {
  background-color: #525c91;
  color: white;
}
